<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('./partials/head') %>

  <body>
    <!-- header -->
    <%- include('./partials/header') %>
    <main class="main_detail">
      <section>
        <div class="headerNote">
                  <h1 class="title"><%= note.title %> </h1>    
        </div>

        <p class="note"><%= note.note %></p> 
        <p class="date"><b>Creado el dìa :  </b><%= note.createdAtFormatted %>  </p>
        <div class="deleteEditBox">
          <form id="deleteNote" action="/user/detailNote/<%=note.id%>?_method=DELETE" method="POST">
     <button type="submit">Borrar</button></form>
     <button><a href="/user/editNote/<%=note.id%>">Editar</a></button>
    <button> <a href="/user">Atras</a></button>
    </div>
      
      </section>
      
 </main>
    <%- include('./partials/footer') %>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/detail.js"></script>

  </body>
</html>
