<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('./partials/head') %>

  <body>
    <!-- header -->
    <%- include('./partials/header') %>
    <main class="main_user">
      <% if (locals.userLogin) { %>
      <h2>Bienvenid@: <%= userLogin.name %> estas son tus Notas:</h2>
      <section>
    
        <article>
          <% notesUser.forEach(element => { %>
          <ul>
            <li class="list">
              <a href="/user/detailNote/<%= element.id %>">
                <p class="titleList"><%= element.title %></p>
                <p class="viewTitleList"><i class="fa-solid fa-circle-plus"></i> VER</p>
              </a>
            </li>
          </ul>

          <% }) %>
        </article>
      </section>

      <% } %>
      <ul>
        <li>
          <a href="/user/createNote">Crear Nota! <span>+</span></a>
        </li>
      </ul>
    </main>

    <%- include('./partials/footer') %>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/user.js"></script>
    
  </body>
</html>
